{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Formulaire événement</h1>

		<div class="container">
        <h1>Formulaire événement</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
                <a href="{{ path('event', {id: 0}) }}">
                    <button type="submit" class="btn btn-primary text-center">✏ {{ nouveau ? "Créer" : "Modifier" }} l'événement</button>
                </a>
        {{ form_end(form) }}

    </div>
	</div>
{% endblock %}
