{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription pro{% endblock %}

{% block body %}

<div class="container">
    <h1>Formulaire d'inscription pro</h1>

      {{ form_start(form) }}
  <div class="form-group">
    <div>{{ form_row(form.nom) }}</div>
    <div>{{ form_row(form.prenom) }}</div>
    <div>{{ form_row(form.password) }}</div>
    <div>{{ form_row(form.email) }}</div>
    <div>{{ form_row(form.adresse) }}</div>
    <div>{{ form_row(form.codepostal) }}</div>
    <div>{{ form_row(form.ville) }}</div>
    <div>{{ form_row(form.telephone) }}</div>
    <div>{{ form_row(form.siret) }}</div>
  </div>
  <button type="submit" class="btn btn-primary text-center">Valider</button>
      {{ form_end(form) }}

</div>
{% endblock %}
