{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">
    <h1></h1>

      {{ form_start(form) }}
  <div class="form-group">
    <div>{{ form_row(form.nom) }}</div>
    <div>{{ form_row(form.prenom) }}</div>
    <div>{{ form_row(form.email) }}</div>
    <div>{{ form_row(form.telephone) }}</div>
  </div>

  <button type="submit" class="btn btn-primary text-center">Envoyer</button>
      {{ form_end(form) }}

      

</div>
{% endblock %}
