{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'accueil
{% endblock %}

{% block body %}

	{% if app.user and app.user.hasRole('ROLE_STAFF') %}
		<h1>Bienvenue
			{{ app.user.prenom }}
			{{ app.user.nom }}
			!</h1>
	{% elseif  app.user and app.user.hasRole('ROLE_PRO') %}
		<h1>Bienvenue
			{{ app.user.prenom }}
			{{ app.user.nom }}
			!</h1>
	{% elseif  app.user and app.user.hasRole('ROLE_USER') %}
		<h1>Bienvenue
			{{ app.user.prenom }}
			{{ app.user.nom }}
			!</h1>
	{% else %}
		<h1>Bienvenue sur la page d'accueil</h1>
	{% endif %}

	<div class="my-5 border"></div>

	<section>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/carousel/lmb-night-full.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
		</div>
	</section>
	<section class="event">
		<div class="row row-cols-1 row-cols-md-3">
			{% for event in events %}
				<div class="col mb-4">
					<div class="card h-100">
						<img src="{{ asset('uploads/images/' ~ event.image) }}" class="card-img-top" alt="">
						<div class="card-body">
							<h5 class="card-title">{{ event.artiste }}</h5>
							<p class="card-text">
								Le
								{{ event.date| date('d/m/Y')}}
								à
								{{ event.date| date('H:i:s')}}
								<br>
								{{ event.presentation }}
								<br>
								{{ event.tarif }}
								<br>
								{{ event.type }}
								<br>
								{{ event.adresse }}</p>
							<div class="mt-5 text-center">
								<a href="{{ path('eventSingle', {id: event.id}) }}" class="btn btn-primary">✏ Voir l'événement</a>
							{% if is_granted('ROLE_STAFF') %}
                                <a href="{{ path('event', {id: event.id}) }}" class="btn btn-primary">✏ Modifier l'event</a>
                                <a href="{{ path('event', {id: event.id, action: 'delete' }) }}">Supprimer l'événement</a>
                            {% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<section>
		<div class="abonnement">
			<h2>ABONNEZ-VOUS A NOTRE NEWSLETTER</h2>
			<hr>
			{{ form_start(form) }}
			<div class="row">
				<div class="col-md-6 mt-3">
					{{form(form)}}
				</div>
				<div class="col-md-6 mt-5">
					<button type="submit" class="btn btn-primary" id="test">Valider</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</section>
	<section class="row mt-5 mb-5 infos">
		<div class="card col-2 mr-5" style="max-width: 18rem;">
			<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Some quick example text</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card col-2 mr-5" style="max-width: 18rem;">
				<div class="card-header">
					Header
				</div>
				<div class="card-body">
					<h5 class="card-title">Light NOM ARTIST</h5>
					<p class="card-text">Some quick example text</p>
				</div>
			</div>
			<div class="card col-2 mr-5" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">Light NOM ARTIST</h5>
					<p class="card-text">Some quick example text</p>
				</div>
			</div>
		</section>

	{% endblock %}
