{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}

{% block body %}



    <section>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/carousel/lmb-night-full.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

    </section>



    <section class="event">
        <div class="row row-cols-1 row-cols-md-3">
            {% for events in event %}
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="img/artist/artist1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ events.artiste }}</h5>
                        <p class="card-text">{{ events.date }} - {{ events.heure }}
                            <br> {{ events.presentation }} <br> {{ events.tarif }}
                            <br> {{ events.type }} <br> {{ events.adresse }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="abonnement">Form insert email pour s'abonner à la newsletter</div>
    </section>

    <section class="row mt-5 mb-5 infos">
        <div class="card col-2 mr-5" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Some quick example text</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card col-2 mr-5" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light NOM ARTIST</h5>
                <p class="card-text">Some quick example text</p>
            </div>
        </div>
        <div class="card col-2 mr-5" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light NOM ARTIST</h5>
                <p class="card-text">Some quick example text</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p> logo + copyright </p>
    </footer>


    <!-- Les scripts sont deja implémentés dans le base (commenté par Jacques pour éviter le double chargement des scripts ) -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script> -->

{% endblock %}